<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/home">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/attendance">
        <i class="bi bi-person-check"></i>
        <span>Attendance</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Customer</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/customer/add">
            <i class="bi bi-circle"></i><span>Add Customer</span>
          </a>
        </li>
        <li>
          <a href="/admin/customer/table">
            <i class="bi bi-circle"></i><span>List Customer</span>
          </a>
        </li>
        <li>
          <a href="/admin/customer/update">
            <i class="bi bi-circle"></i><span>Update Customer</span>
          </a>
        </li>

        <li>
          <a href="/admin/customer/payments" class="active">
            <i class="bi bi-circle"></i><span>Payments</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-ubuntu"></i><span>Guest</span><i class="bi bi-chevron-down  ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/guest/add">
            <i class="bi bi-circle"></i><span>Add Guest</span>
          </a>
        </li>
        <li>
          <a href="/admin/guest/table">
            <i class="bi bi-circle"></i><span>List Guest</span>
          </a>
        </li>
      </ul>
    </li>


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#sub-nav" data-bs-toggle="collapse" href="#">
        <i class='bx bxs-wallet-alt'></i><span>Subscription</span><i class="bi bi-chevron-down  ms-auto"></i>
      </a>
      <ul id="sub-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/subscription/show">
            <i class="bi bi-circle"></i><span>Show subscription</span>
          </a>
        </li>
        <li>
          <a href="/admin/subscription/renew">
            <i class="bi bi-circle"></i><span>Renew subscription</span>
          </a>
        </li>
        <li>
          <a href="/admin/subscription/status">
            <i class="bi bi-circle"></i><span>Change Status</span>
          </a>
        </li>
      </ul>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/reports">
        <i class='bx bxs-report'></i>
        <span>Reports</span>
      </a>
    </li><!-- End Dashboard Nav -->

  </ul>

</aside>
<!-- End Sidebar-->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Bulk Payments Edit</h1>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Payments</h5>
            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1"></i>
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}

            {{#if err}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-octagon me-1"></i>
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            <form action="/admin/customer/payments/bulk/update" method="get">
              <div class="row mb-3">
                <label for="bulkUpdateDate" class="col-sm-3 col-form-label">New Paydate</label>
                <div class="col-sm-4 mb-3">
                  <input type="date" class="form-control" name="bulkUpdateDate" required />
                </div>
                <input type="text" class="d-none" value="{{startDate}}" name="startDate" readonly/>
                <input type="text" class="d-none" value="{{endDate}}" name="endDate" readonly/>
                <div class="col-sm-4 mb-3">
                  <button type="submit" class="btn btn-primary">update</button>
                </div>
              </div>
            </form>
            <!-- Default Table -->
            <table id="payments-table" class="table table-striped" style="width:100%">
              <thead>
                <tr>
                  <th scope="col">PayDate</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Paid Amount</th>
                  <th scope="col">Online</th>
                  <th scope="col">Cash</th>
                  <th scope="col">Pending Amount</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <!-- End Default Table Example -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script type="module">
  import { DateTime } from 'https://cdn.jsdelivr.net/npm/luxon@3.2.1/+esm';
  $.ajax({
    url: '/admin/customer/payments/bulk/list?startDate={{startDate}}&endDate={{endDate}}',
    method: 'get',
  }).done(res => {
    console.log(res);
  })

  const table = $('#payments-table').DataTable({
    ajax: {
      url: '/admin/customer/payments/bulk/list?startDate={{startDate}}&endDate={{endDate}}',
      method: 'get',
      dataSrc: 'data'
    },
    scrollX: true,
    order: [['1', 'desc']],
    columns: [
      {
        render(data, type, row, meta) {
          return row.payment_date;
        }
      },
      {
        render(data, type, row, meta) {
          return `<i class="bi bi-currency-rupee"></i><span>${row.total_amount}</span>`;
        }
      },
      {
        render(data, type, row, meta) {
          return row.status.toUpperCase();
        }
      },
      {
        render(data, type, row, meta) {
          return `<i class="bi bi-currency-rupee"></i><span>${row.paid_amount}</span>`;
        }
      },
      {
        render(data, type, row, meta) {
          return `<i class="bi bi-currency-rupee"></i><span>${row.online}</span>`;
        }
      },
      {
        render(data, type, row, meta) {
          return `<i class="bi bi-currency-rupee"></i><span>${row.cash}</span>`;
        }
      },
      {
        render(data, type, row, meta) {
          const total = Number.parseFloat(row.total_amount);
          const paid = Number.parseFloat(row.paid_amount);
          const remaning = total - paid;
          return `<i class="bi bi-currency-rupee"></i><span>${remaning}</span>`;
        }
      },
    ]
  });

</script>
